<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start"><ion-menu-button /></ion-buttons>
    <ion-title>Lądowiska planowe</ion-title>
    <ion-button slot="end" routerLink="/admin/landing-sites/add" fill="solid" color="light" size="small">
      Dodaj
    </ion-button>
  </ion-toolbar>
  @if (loading()) {
    <ion-progress-bar type="indeterminate" />
  }
</ion-header>
<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
  @if (errorMessage()) {
    <ion-note color="danger">{{ errorMessage() }}</ion-note>
  }

  @if (!loading() && !errorMessage() && airfields().length === 0) {
    <ion-note>Brak lądowisk.</ion-note>
  }

  @if (airfields().length > 0) {
    <ion-list>
      @for (airfield of airfields(); track airfield.id) {
        <ion-item button [routerLink]="'/admin/landing-sites/edit/' + airfield.id">
          <ion-label>
            <h2>{{ airfield.name }}</h2>
            <p>{{ airfield.latitude >= 0 ? airfield.latitude + '°N' : -airfield.latitude + '°S' }}, {{ airfield.longitude >= 0 ? airfield.longitude + '°E' : -airfield.longitude + '°W' }}</p>
          </ion-label>
        </ion-item>
      }
    </ion-list>
  }
  </ion-grid>
</ion-content>
