ion-item.active-item {
  --color: var(--ion-color-primary);
  --color-focused: var(--ion-color-primary);
  --color-hover: var(--ion-color-primary);

  ion-icon {
    color: var(--ion-color-primary);
  }
}
