<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/landing-sites" text="Wróć" />
    </ion-buttons>
    <ion-title>Edytuj lądowisko</ion-title>
  </ion-toolbar>
  @if (loadingData()) {
    <ion-progress-bar type="indeterminate" />
  }
</ion-header>

<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
  @if (loadError()) {
    <ion-text color="danger">
      <p class="error-banner">{{ errorMessage() }}</p>
    </ion-text>
    <ion-button expand="block" (click)="reload()">Odśwież</ion-button>
  } @else if (!loadingData()) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      @if (errorMessage()) {
        <ion-text color="danger">
          <p class="error-banner">{{ errorMessage() }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-input
          label="Nazwa"
          labelPlacement="stacked"
          formControlName="name"
          type="text"
          maxlength="200"
          placeholder="Wprowadź nazwę lądowiska"
        />
      </ion-item>
      <app-field-errors [control]="form.get('name')" [messages]="nameErrors" />

      <ion-item>
        <ion-input
          label="Szerokość geograficzna"
          labelPlacement="stacked"
          formControlName="latitude"
          type="number"
          min="-90"
          max="90"
          step="0.000001"
          placeholder="-90 do 90"
        />
      </ion-item>
      <app-field-errors [control]="form.get('latitude')" [messages]="latitudeErrors" />

      <ion-item>
        <ion-input
          label="Długość geograficzna"
          labelPlacement="stacked"
          formControlName="longitude"
          type="number"
          min="-180"
          max="180"
          step="0.000001"
          placeholder="-180 do 180"
        />
      </ion-item>
      <app-field-errors [control]="form.get('longitude')" [messages]="longitudeErrors" />

      @if (isAdmin()) {
        <ion-button
          expand="block"
          fill="outline"
          color="danger"
          class="ion-margin-top"
          (click)="openDeleteModal()"
        >
          Usuń
        </ion-button>

        <ion-button expand="block" type="submit" [disabled]="saving()" class="ion-margin-top">
          @if (saving()) {
            <ion-spinner name="crescent" />
          } @else {
            Zapisz zmiany
          }
        </ion-button>
      }
    </form>

    <app-map-landing
       style="display: block; height: 400px;"
      [latitude]="mapLatitude()"
      [longitude]="mapLongitude()"
      (coordinatesChange)="onMapCoordsChange($event)"
    />

    <app-confirm-delete-modal
      [isOpen]="deleteModalOpen()"
      [deleting]="deleting()"
      prefix="Czy na pewno chcesz usunąć lądowisko"
      [entityName]="form.get('name')?.value"
      (confirm)="confirmDelete()"
      (dismiss)="closeDeleteModal()"
    />
  }
  </ion-grid>
</ion-content>
