<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin/users" text="Wróć" />
    </ion-buttons>
    <ion-title>Edytuj użytkownika</ion-title>
  </ion-toolbar>
  @if (loadingData()) {
    <ion-progress-bar type="indeterminate" />
  }
</ion-header>

<ion-content class="ion-padding">
  <ion-grid [fixed]="true">
  @if (loadFailed()) {
    <ion-text color="danger">
      <p class="error-banner">{{ errorMessage() }}</p>
    </ion-text>
    <ion-button expand="block" (click)="loadUser()" class="ion-margin-top">
      Odśwież
    </ion-button>
  } @else if (!loadingData()) {
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      @if (errorMessage()) {
        <ion-text color="danger">
          <p class="error-banner">{{ errorMessage() }}</p>
        </ion-text>
      }

      <ion-item>
        <ion-input
          label="Imię"
          labelPlacement="stacked"
          formControlName="firstName"
          type="text"
          maxlength="100"
          placeholder="Wprowadź imię"
        />
      </ion-item>
      <app-field-errors [control]="form.get('firstName')" [messages]="firstNameErrors" />

      <ion-item>
        <ion-input
          label="Nazwisko"
          labelPlacement="stacked"
          formControlName="lastName"
          type="text"
          maxlength="100"
          placeholder="Wprowadź nazwisko"
        />
      </ion-item>
      <app-field-errors [control]="form.get('lastName')" [messages]="lastNameErrors" />

      <ion-item>
        <ion-input
          label="Email"
          labelPlacement="stacked"
          formControlName="email"
          type="email"
          maxlength="100"
          placeholder="Wprowadź email"
        />
      </ion-item>
      <app-field-errors [control]="form.get('email')" [messages]="emailErrors" />

      <ion-item>
        <ion-input
          label="Hasło"
          labelPlacement="stacked"
          formControlName="password"
          type="password"
          maxlength="100"
          placeholder="Wprowadź nowe hasło (min. 8 znaków)"
        />
      </ion-item>
      <app-field-errors [control]="form.get('password')" [messages]="passwordErrors" />

      <ion-item>
        <ion-select
          label="Rola"
          labelPlacement="stacked"
          formControlName="role"
          placeholder="Wybierz rolę"
        >
          @for (opt of roleOptions; track opt.value) {
            <ion-select-option [value]="opt.value">{{ opt.label }}</ion-select-option>
          }
        </ion-select>
      </ion-item>
      <app-field-errors [control]="form.get('role')" [messages]="roleErrors" />
      <ion-button expand="block" fill="outline" color="danger" class="ion-margin-top" (click)="openDeleteModal()">
        Usuń użytkownika
      </ion-button>
      <ion-button expand="block" type="submit" [disabled]="saving()" class="ion-margin-top">
        @if (saving()) {
          <ion-spinner name="crescent" />
        } @else {
          Zapisz zmiany
        }
      </ion-button>


    </form>
  }

  <app-confirm-delete-modal
    [isOpen]="deleteModalOpen()"
    [deleting]="deleting()"
    prefix="Czy na pewno chcesz usunąć"
    entityName="tego użytkownika"
    (confirm)="confirmDelete()"
    (dismiss)="closeDeleteModal()"
  />
  </ion-grid>
</ion-content>
